@media screen and (max-width: 767px) {

	[aria-expanded="true"] ~  ul.navbar-nav {
		display: block;
		text-align: center;
	}

	[aria-expanded="true"] ~ ul.navbar-nav li {
		margin-top: var(--size-20);
		display: block;
	}

	[aria-expanded="true"] ~  ul.navbar-nav li:last-of-type {
		position: unset;
		margin-top: var(--size-40);
	}

	.header-container .header-right .grid-container {
		max-width: 360px;
		row-gap: 20px;
		position: relative;
	}

	.header-right .company-logo {
		max-width: 4.688rem;
		max-height: 4.688rem;
	}

	.header-right .company-small {
		max-width: 3.75rem;
		max-height: 3.75rem;
	}

	.header-right .atlassian-logo {
		position: absolute;
		left: 25px;
		top: 5px;
	}

	.header-right .asana-logo {
		position: absolute;
		left: -20px;
		top: 20px;
	}


	.benefits .cards {
		display: block;
	}

	.cards .benefit-card {
		margin-bottom: 30px;
		max-width: 360px;
	}

	.dot-path {
		flex-direction: row;
		align-items: unset;
	}

	.circle-container {
		flex-direction: column;
	}

	.circle {
		margin-bottom: 1.563rem;
	}

	.circle hr {
		display: none;
	}

	.under-circle {
		flex-direction: column;
		text-align: left;
		padding: 0;
		justify-content: space-between;
		width: initial;
		margin-top: 0;
	}

	.under-circle h3 {
		margin-bottom: 55px;
	}

	.under-circle h3:first-of-type {
		margin-top: 15px;
	}

	.under-circle h3:nth-child(2) {
		padding: 0;
	}

	.banner-section .banner-two {
		margin-top: var(--size-20);
	}

	.banner-two .video-box {
		margin: 0;
	}

	.video-box .play-circle {
		transform: translate(-40px, -40px);
	}

	section .hubspot {
		margin-top: var(--size-50);
	}

	.hubspot .left-hub {
		height: 15.875rem;
	}

	.hubspot .left-hub img {
		width: 250px;
	}

	.hubspot .left-hub img.dots {
		object-position: -23px 76px;
		height: 240px;
	}

	.hubspot .left-hub img.woman {
		object-position: 12px 0px;
	}

	.hub-block-text {
		margin-left: 0;
	}

	.hub-block-text h3 {
		width: var(--size-150);
	}

	.hub-block-text>p {
		font-size: 1.563rem;
	}

	.block-bottom h4 {
		font-size: 25px;
	}

	.block-bottom p {
		font-size: var(--size-20);
	}

	.trusted-company {
		flex-direction: column;
		align-items: center;
	}

	.trusted-company img {
		margin-bottom: 1.563rem;
	}

	.pricing-header {
		margin-top: var(--size-50);
	}

	.pricing-grid {
		display: block;
	}

	.grid-item {
		max-width: 360px;
		margin: 2.813rem auto;
	}

	.hire-left .hire-container {
		display: block;
		margin-left: 0;
		text-align: center;
	}

	.hire-container .hire-block hr {
		width: 90%;
		margin: 0 auto var(--size-30);
	}

	.hire-container .hire-bottom {
		margin-left: 0;
	}

	.top,
	.info-list {
		display: block;
	}

	.top {
		text-align: center;
	}

	.company,
	.features,
	.documentation,
	.resources {
		margin-top: var(--size-30);
	}

	.top .info-list {
		display: block;
	}

	.top .info-list {
		margin-left: 0;
	}

	.info-list h3 {
		font-size: 1.563rem;
		font-weight: 900;
	}

	.info-list ul li {
		font-size: var(--size-20);
		font-weight: 600;
		margin-top: var(--size-10);
	}

	.bottom .flex-stuff {
		display: block;
		text-align: center;
	}

	.flex-stuff .stuff-left {
		display: block;
		margin-bottom: var(--size-30);
	}

	select#footer-country {
		display: block;
		margin: var(--size-30) auto;
		font-size: var(--size-18);
	}

}

/* Tablet */

@media screen and (max-width: 1023px) {
	[aria-controls="navbarDropdown"] {
		display: block;
	}

	[aria-expanded="false"]~ul {
		display: none;
	}

	[aria-expanded="true"]~ul {
		display: block;
		position: absolute;
		right: 0;
		top: var(--size-100);
		background-color: var(--white);
		width: 100%;
		height: 100%;
		z-index: 10;
		border-top: 1px solid lightgray;
		padding-top: var(--size-100);
		text-align: center;
	}

	[aria-expanded="true"]~ul li {
		color: var(--font-color-light);
		font-size: var(--size-20);
		display: inline-block;
	}

	[aria-expanded="true"]~ul li:last-of-type {
    text-align: center;
    font-size: var(--size-16);
		display: block;
    margin-top: var(--size-50);
	}


	.nav-container {
		flex-direction: row-reverse;
	}

	.navbar-toggler {
		outline: none;
		background-color: transparent;
		border: 1px solid transparent;
		padding: 32px;
	}

	.navbar-toggler span {
		font-size: 1.563rem;
		color: #4f5965;
		cursor: pointer;
		pointer-events: none;
	}


	.header-container {
		display: block;
	}

	.header-left {
		text-align: center;
		margin-bottom: var(--size-100);
	}

	.grid-container {
		max-width: 650px;
		width: 650px;
		margin: 0 auto;
	}

	.cards {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: var(--size-30);
		padding: 0 var(--size-40);
		max-width: 865px;
		margin: var(--size-100) auto;
	}

	.benefit-card {
		border: 1px solid transparent;
		box-shadow: 0 0 20px 8px #f1f1f1;
		padding: var(--size-20);
		max-width: 53.75rem;
		margin: 0 auto;
	}

	.banner-one {
		display: block;
		margin: 0 var(--size-40);
	}


	.banner-one-left {
		text-align: center;
	}

	.banner-one-right {
		margin-top: var(--size-50);
	}

	.circle-container hr {
		width: 8.125rem;
	}

	.under-circle {
		padding: 0 var(--size-30);
	}

	.hubspot {
		display: block;
	}

	.left-hub {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 28.125rem;
	}

	.left-hub img {
		width: 350px;
	}

	.left-hub img.dots {
		object-position: -28px 19px;
	}

	.left-hub img.woman {
		object-position: 30px 0px;
	}

	.right-hub {
		text-align: center;
	}

	.hub-block-text h3 {
		margin: 0 auto var(--size-30);
	}

	.hub-block-text {
		padding: 100px 0 0;
	}

	.trusted {
		margin-top: var(--size-50);
	}

	.trusted-company img {
		width: 100px;
	}

	.pricing-section {
		margin: 0 var(--size-40);
	}

	.pricing {
		display: block;
	}

	.pricing-block {
		display: block;
		text-align: center;
	}

	.pricing-grid {
		place-items: center;
	}

	.components {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.images {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	.cancel {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.money-back {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}

	.hire-us {
		display: block;
	}

	.hire-container {
		display: flex;
		margin-bottom: var(--size-50);
	}

	.hire-block hr {
		width: 100%;
	}

	.hire-bottom {
		margin-left: var(--size-50);
	}

	.hire-left h3 {
		margin-top: var(--size-30);
	}

	.bottom-people {
		margin-top: 0;
	}

	form {
		margin: 0 var(--size-40);
	}

	input[type="text"],
	#budget-select,
	#country-select {
		width: 48%;
	}

	footer {
		margin: 0 var(--size-40) var(--size-50);
	}

	.info-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--size-40);
		margin-left: var(--size-50);
	}


	.company {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.features {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

}